<a href="https://colab.research.google.com/github/kei2018tt/-Image-classification/blob/master/%E3%83%87%E3%83%BC%E3%82%BF%E3%83%9E%E3%82%A4%E3%83%8B%E3%83%B3%E3%82%B0%E5%85%A5%E9%96%80_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ocwx.ocw.u-tokyo.ac.jp/course_11414/

# Q1

In [7]:
import pandas as pd

In [28]:
test = [1,2,3]
sum(test)

6

In [29]:
test.append(3)
test

[1, 2, 3, 3]

中央値はデータの中心傾向を観察するための記述統計の指標です。同じくデータの中心傾向
の指標である平均値と比べると、データの外れ値の影響を受けにくという特徴があります。1
変数の 個のデータを考えた時、中央値を求めるにはまず、データの値の大きさの順に並び替
えます。次に、データの数が奇数個の場合は、大きさの順に並び替えた 番目の値、
データの数が偶数個の場合は、大きさの順に並び替えた 番目と の値の平均の値、
をそれぞれデータの中央値とします。
分散はデータのばらつきを観察するための記述統計の指標です。個々のデータがデータ全体
の平均からどらぐらいばらついているかを表します。以下の通り、個々のデータの値 とデ
ータ全体の平均の値 の差の2乗和をデータ数 で割ったものが分散になります。

0から100までの整数を要素とする任意の長さのリストを引数で入力として受け取り、以下を
要素とするリストを返す avg_med_var() 関数を完成させてください。
入力リストの全ての要素の平均値
入力リストの全ての要素の中央値
入力リストの全ての要素の分散

In [8]:
#中央値を求める関数　https://www.delftstack.com/ja/howto/python/find-median-in-python/
def median(l):
    half = len(l) // 2 #リストの中央値
    l.sort()
    if not len(l) % 2:
        return (l[half - 1] + l[half]) / 2.0
    return l[half]

In [30]:
def avg_med_var(input_list):
  avg_value = 0
  med_value = 0
  var_value = 0
  mse_value = []

  avg_value = sum(input_list) / len(input_list) #平均
  med_value = median(input_list) #中央値
  for i in range(len(input_list)): #分散
    mse_value.append((input_list[i] - avg_value)**2)
  var_value = sum(mse_value) / len(input_list)

  return avg_value, med_value, var_value

avg_med_var() 関数が完成したら、以下のセルを実行して動作を確認してください。

In [31]:
print(avg_med_var([1,4,3,2,5,6,8,7,9,10]))
print(avg_med_var([1,4,3,2,5,6,8,7,9,10,11]))

(5.5, 5.5, 8.25)
(6.0, 6, 10.0)

# Q2

In [33]:
#Googleドライブ使えるようにする
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [39]:
score = pd.read_csv('drive/My Drive/データマイニング入門データ用/データマイニング入門- 3/user_score.csv')
#ドライブマウントや場所指定参考URL:https://hirotaka-hachiya.hatenablog.com/entry/2019/06/09/231411
score.head(5)

   user  kokugo  shakai  sugaku  rika
0     1      30      43      51    63
1     2      39      21      49    56
2     3      29      30      23    57
3     4      95      87      77   100
4     5      70      71      78    67

In [40]:
score.describe()

             user      kokugo      shakai      sugaku        rika
count  166.000000  166.000000  166.000000  166.000000  166.000000
mean    83.500000   52.331325   39.602410   45.614458   49.885542
std     48.064193   21.835858   21.456335   24.236127   21.408130
min      1.000000    0.000000    4.000000    0.000000    9.000000
25%     42.250000   35.000000   23.000000   28.000000   31.000000
50%     83.500000   53.000000   35.000000   43.000000   49.000000
75%    124.750000   70.000000   53.750000   63.750000   65.750000
max    166.000000   96.000000   90.000000  100.000000  100.000000

In [41]:
score[score>50]

      user  kokugo  shakai  sugaku   rika
0      NaN     NaN     NaN    51.0   63.0
1      NaN     NaN     NaN     NaN   56.0
2      NaN     NaN     NaN     NaN   57.0
3      NaN    95.0    87.0    77.0  100.0
4      NaN    70.0    71.0    78.0   67.0
..     ...     ...     ...     ...    ...
161  162.0    82.0    78.0    80.0   88.0
162  163.0     NaN     NaN     NaN    NaN
163  164.0     NaN     NaN     NaN    NaN
164  165.0    73.0     NaN     NaN    NaN
165  166.0    60.0    85.0    89.0   80.0

[166 rows x 5 columns]

In [45]:
score["kokugo"].mean()

52.33132530120482

In [46]:
score[score["kokugo"]>score["kokugo"].mean()]

     user  kokugo  shakai  sugaku  rika
3       4      95      87      77   100
4       5      70      71      78    67
5       6      67      53      56    61
7       8      56      54      37    59
9      10      68      41      29    81
..    ...     ...     ...     ...   ...
159   160      68      28      60    69
160   161      70      23      43    50
161   162      82      78      80    88
164   165      73      31      43    32
165   166      60      85      89    80

[84 rows x 5 columns]

# Q2-1

データフレーム score から各教科の得点がすべて平均点以上であるようなユーザーの数を返す above_mean() 関数を作成してください

In [48]:
def above_mean(df):
  kokugo_mean = df['kokugo'].mean()
  shakai_mean = df['shakai'].mean()
  sugaku_mean = df['sugaku'].mean()
  rika_mean = df['rika'].mean()

  return len(df[(df['kokugo'] >= kokugo_mean) & (df['shakai'] >= shakai_mean) & (df["sugaku"] >= sugaku_mean) & (df["rika"] >= rika_mean)])

above_mean() 関数が完成したら、以下のセルを実行して動作を確認してください。条件満たすユーザは46人となります。

In [49]:
above_mean(score)

46

# Q2-2

ユーザごとの全教科の得点の総和の値を表す'sum'列をデータフレーム score に新たに追加したデータフレームを返す score_sum() 関数を作成してください。以下のようにして、データフレームの指定した列の行方向の値の和を持つシリーズオブジェクト作ることができます。

データフレーム[[列1,列2,...,]].sum(axis=1)

In [50]:
def score_sum(df):
  df["sum"] = df[['kokugo','shakai','sugaku','rika']].sum(axis=1)
  return df

In [51]:
score = score_sum(score)
score.head(5)

   user  kokugo  shakai  sugaku  rika  sum
0     1      30      43      51    63  187
1     2      39      21      49    56  165
2     3      29      30      23    57  139
3     4      95      87      77   100  359
4     5      70      71      78    67  286

In [54]:
score.loc[0, "user"]

1

In [69]:
sorted_df = score.sort_values("sum", ascending=False).reset_index(drop=True)
sorted_df

     user  kokugo  shakai  sugaku  rika  sum
0      39      84      90      87   100  361
1       4      95      87      77   100  359
2      50      87      85      84    93  349
3     156      91      69     100    83  343
4      23      82      84      86    88  340
..    ...     ...     ...     ...   ...  ...
161    54      24      15       1    17   57
162   125       8      12       0    20   40
163    19       0       5       0    24   29
164   134       4       9       5    11   29
165   163       0       8       2     9   19

[166 rows x 6 columns]

In [70]:
sorted_df.loc[0, "user"]

39

全教科の合計得点の上位3人の'user'を1位、2位、3位の順に要素として持つリストを返す score_top3() 関数を作成させてください。

In [71]:
def score_top3(df):
  sorted_df = df.sort_values("sum", ascending=False).reset_index(drop=True)
  results = []
  results.append(sorted_df.loc[0, "user"])#1位のuser
  results.append(sorted_df.loc[1, "user"])#2位のuser
  results.append(sorted_df.loc[2, "user"])#3位のuser
  return results

In [72]:
score_top3(score)

[39, 4, 50]

In [77]:
len(score[score["sum"]<=50])

4

In [84]:
len(score[(score["sum"]>=50) & (score["sum"]<=100)])

20

In [ ]:
return len(df[(df['kokugo'] >= kokugo_mean) & (df['shakai'] >= shakai_mean) & (df["sugaku"] >= sugaku_mean) & (df["rika"] >= rika_mean)])

# Q2-3

データフレーム score の'sum'列を対象に、以下を階級幅として各階級の度数を要素として持つリストを返すscore_hist()関数を完成させてください。

・0以上、50以下

・51以上、100以下

・101以上、150以下

・151以上、200以下

・201以上、250以下

・251以上、300以下

・301以上、350以下

・351以上、400以下

In [85]:
def score_hist(df):
  results = []
  results.append(len(df[(df["sum"]>=0) & (df["sum"]<=50)]))
  results.append(len(df[(df["sum"]>=51) & (df["sum"]<=100)]))
  results.append(len(df[(df["sum"]>=101) & (df["sum"]<=150)]))
  results.append(len(df[(df["sum"]>=151) & (df["sum"]<=200)]))
  results.append(len(df[(df["sum"]>=201) & (df["sum"]<=250)]))
  results.append(len(df[(df["sum"]>=251) & (df["sum"]<=300)]))
  results.append(len(df[(df["sum"]>=301) & (df["sum"]<=350)]))
  results.append(len(df[(df["sum"]>=351) & (df["sum"]<=400)]))

  return results

In [86]:
score_hist(score)

[4, 20, 39, 35, 29, 24, 13, 2]